---
import HeaderSection from "./header-section.astro";
import { getPosts } from "@/lib/fetchers";
import BlogCard from "@/components/cards/blog-card.astro";

const posts = await getPosts();
const latestPosts = posts.slice(0, 3); // Get the latest 6 posts
---

<section>
  <div class="pb-24">
    <div class="container max-w-6xl">
      <HeaderSection
        label="Articles"
        title="Recent blog posts."
        subtitle="These include personal, professional, and thought leadership articles."
      />
      <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-12 md:gap-y-4 lg:gap-y-4 lg:gap-x-4"
    >
    {latestPosts.map((post) => <BlogCard {...post} />)}
    </div>
    </div>
  </div>
</section>
<section class="flex justify-center">
  <div class="divider-wrapper pb-0">
    <div class="container-default mx-auto">
      <div class="divider h-0"></div>
      <img src="https://assets-global.website-files.com/65e1a87a9f13ad3aa4c3304f/65fd981e8f327d6ac2349a7f_Lights.svg" loading="lazy" alt="" class="divider-lighting">
    </div>
  </div>
</section>
