---
import { buttonVariants } from "@/components/ui/button";
import { getCategories } from "@/lib/fetchers";
import { cn } from "@/lib/utils";



const categories = await getCategories();

type Props = {
  title: string;
};

const { title } = Astro.props;
const { category } = Astro.params;
---

<h1 data-pagefind-body class="inline-block font-heading text-4xl">{title}</h1>
<p class="text-md text-neutral-400 mb-8">Writing on personal, professional, and productivity topics.</p>



  {
    categories?.length ? (
      <ul class="flex snap-x snap-mandatory overflow-auto items-center space-x-2 lg:space-x-2.5 pb-2">
        <li class="flex-shrink-0 snap-start">
          <a
            href={`/blog`}
            class={cn(
              !category ? "select-none" : "",
              buttonVariants({
                variant: !category ? "secondary" : "link",
              })
            )}
          >
            All posts
          </a>
        </li>
        {categories.map((item) => (
          <li class="flex-shrink-0 snap-start">
            <a
              href={`/blog/category/${item}`}
              class={cn(
                "capitalize",
                item === category ? "select-none" : "",
                buttonVariants({
                  variant: item === category ? "secondary" : "link",
                })
              )}
            >
              {item}
            </a>
          </li>
        ))}
      </ul>
    ) : (
      <div />
    )
  }
</div>

<hr class="mb-7" />
